<%- include('header.ejs', { isAuthenticated: isAuthenticated }) %>
<style>
.box {
    position: relative;
    margin: 60px auto;
    width: 80%;
    height: 500px;
    padding: 15px; 
    background-color: #aaa;
    border-radius: 7px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
</style>

<body>
    <div class="box">

        모하비 홈페이지에 오신걸 환영합니다.

    </div>   
</body>

<%-include('footer.ejs')%>