<%- include('header.ejs', { isAuthenticated: isAuthenticated }) %>

    <ul>
        <li> 이름 : 김세은 </li>
        <li> 이메일 : tpdms981@naver.com </li>
        <li> 주소 : 인천광역시 거주중 </li>
    </ul>

<%-include('footer.ejs')%>